<br><br>
      <h1 class="header center red-text">သွေးသည်အသက်</h1>
      <div class="row center">
        <h5 class="header col s12 light red-text">သင့်သွေးဖြင့်အသက်ကယ်ပါ</h5> 
        <div class="input-field col s12">
          
<a class="waves-effect red darken-3 waves-red btn-large"><i class="material-icons left">invert_colors</i>'A' သွေး</a>
<a class="waves-effect red darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'B' သွေး</a>
<a class="waves-effect red darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'AB' သွေး</a>
<a class="waves-effect red darken-3 waves-light btn-large"><i class="material-icons left">invert_colors</i>'O' သွေး</a>
          
          
        </div>
      </div>
      <div class="row center">
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
       <div class="input-field col s6">
          
          
        </div>
      </div>
      <br><br>